---
hide:    true
---

@import "forsyde-web-theme";

ul.examples {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

@media only screen and (max-width: 993px) {
    ul.examples {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
    }
}

@media only screen and (max-width: 769px) {
    ul.examples {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
    }
}

ul.examples li {
    display:inline-block;
}
img.examples {
    max-width:100%;
}